@import url(./global.css);
@import url(./footer.css);
@import url(./home.css);

/* SECTION TOUR 360° */
.ku-embed { /*IMAGEN 360°*/
  width: 100%;
  height: 70vh;
}

.ku_content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1.6rem;
}
  .ku_content-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .arrowContainer {
    width: 2rem;
    height: 3rem;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .arrowDown-banos {
    background-image: url(../assets/icons/arrow_down_banos.svg);
  }
  .arrowDown-cocinas {
    background-image: url(../assets/icons/arrow_down_cocinas.svg);
  }

.line{
  width: 100%;
  padding: 3.2rem 1.6rem;
}
  .line-banos {
  width: 100%;
  height: 1px;
  background-color: var(--Banos);
  }
  .line-cocinas {
  width: 100%;
  height: 1px;
  background-color: var(--Lavaderos);
  }

/*SECTION INTRO*/
.intro {
padding: 1.6rem;
}
  .intro div:last-child {
  margin: 1.6rem 0;
  }

/*SECTION INDEX*/
.index {
  padding: 3.2rem 0;
}
  .index-banos {
    background-color: rgba(46, 46, 130, 0.2);
  }
  .index-cocinas {
    background-color: rgba(58, 132, 154, 0.2);
  }
  .index>h3 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-bottom: 0;
  }
  .index_subtitle {
    margin-top: 3.2rem;
  }

.scrolling_container {
  width: auto;
  overflow-x: scroll;
  padding: 1.6rem 1.6rem;
}

.index_grid,
.product_grid {
  display: grid;
  gap: 1.6rem;
  width: auto;
  height: auto;
} 
  .index_grid-banos {
    grid-template-columns: repeat(4, 1fr) auto;
  }
  .index_grid-cocinas {
    grid-template-columns: repeat(5, 1fr) auto;
  }
  .product_grid-cocinas {
    grid-template-columns: repeat(6, 1fr) auto;
  }

.index_card{
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 256px;
  height: 340px;
  max-height: 420px;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--Shadow);
  overflow: hidden;
}
  .index_card_img {
    height: 100%;
    width: 70%;
    object-fit: cover;
    overflow: hidden;
  }
  .index_card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;
  }
  .index_card_content div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .arrowDiag-banos {
    width: 3rem;
    height: 3rem;
    background-image: url(../assets/icons/arrow-diagonal.svg);
  }
  .arrowDiag-cocinas {
    width: 3rem;
    height: 3rem;
    background-image: url(../assets/icons/arrow-diagonal-lavaderos.svg);
  }
  .index_card-last {
    width: 0.1rem;
  }

.product_card {
  width: 256px;
  height: 120px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  border-radius: 10px;
  background-color: white;
  color: var(--Lavaderos);
  box-shadow: var(--Shadow);
  overflow: hidden;
}
  .product_card_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  } 
  .product_card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.6rem;
  }
.productDetails {
  padding: 3.2rem 0;
}
.responsive {
  width: 100%;
  max-width: 1400px;
  padding: 0 1.6rem;
  padding-top: 3.2rem;
}
/* SECTION HERO */
.hero {position: relative;}
.heroText {
    width: 100%;
    height: 100%;
    padding: 1.6rem;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    color: white;
}
.heroText div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--Banos);
    border-radius: 3px;
    z-index: 1; 
}
.heroText span {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    background-image: url(./assets/icons/arrow-back-white.svg);
}
.heroVideoTablet {display: none;}
.heroVideoDesktop {display: none;}

/* SECTION INTRO */
.container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}
.introProduct {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1.6rem;
    padding-top: 1.6rem;
}
.introProduct>div:last-child{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1.6rem;
} 
/* SECTION PRODUCT */

.horizontalScrolling_containerProducts {
  width: auto;
  overflow-x: scroll;
  padding: 1.6rem 1.6rem;
}
.detailed_grid, .cocinas_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr) auto;
  gap: 1.6rem;
  width: auto;
  height: auto;
} 
/* .product_grid a {
  color: var(--Lavaderos);
} */
.detailed_grid {
    grid-template-columns: repeat(9, 1fr) auto;
}
.cocinas_grid {
    grid-template-columns: repeat(6, 1fr) auto;
}
.card {
  width: 80vw;
  height: calc(80vw*1.1);
  border-radius: 10px;
  overflow: hidden;
}
.cardCocinas {
  width: 80vw;
  height: calc(80vw*.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: var(--Shadow);
}
.cardCocinas_textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.6rem;
}
.indexCocinas>h3 {
  margin-left: 1.6rem;
}
.indexCocinas div~h3 {
  margin-top: 3.2rem;
}


.imageContainerCocinas {
  height: 50%;
  width: 100%;
  object-fit: contain;
  object-position: 0% 100%;
  overflow: hidden;
}
.stdCard {
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    padding-top: 1.6rem;
    background-color: white;
}
.imageProductContainer {
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.imageProductContainerVertical {
    height: 90vh;
    object-fit: contain;
}
.ctrCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.6rem;
    overflow: hidden;
}
.stdCard-textContainer {
    text-align: center;
    padding: 1.6rem;
}
.bkgCard {
    position: relative;
    overflow: hidden;
    color: white;
}
.bkgCard .stdCard {
    position: absolute;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;
}
.videoCVArmadoDesktop{
  display: none;
}
.lottieContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
}
.detailCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(80vw + 16px);
    height: auto;
    border-radius: 10px;
    box-shadow: var(--Shadow);
    overflow: hidden;
}
.botonera {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.6rem;
    justify-content: center;
    padding: 3.2rem 1.6rem;
}
.botonera a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonera div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 3px;
  box-shadow: var(--Shadow);
}
.botonera div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 0.8rem 1.6rem;
  background-color: var(--Banos);
  border-radius: 3px;
  box-shadow: var(--Shadow);
}
.arrowLeft {
  width: 2rem;
  height: 3rem;
  background-image: url(./assets/icons/arrow-back-banos.svg);
}
.arrowRight {
  width: 2rem;
  height: 3rem;
  margin-left: 0.8rem;
  background-image: url(./assets/icons/arrow-forward-white.svg);
}






/* MODAL */

/* The Modal (background) */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  .mySlides {display: none;}
  .cursor {cursor: pointer;}
  
  /* Next & previous buttons */
  .prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {right: 0; border-radius: 3px 0 0 3px;}
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .demo {opacity: 0.6;}
  .active, .demo:hover {opacity: 1;}
  img.hover-shadow {transition: 0.3s;}
  .hover-shadow:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}


/* GALLERY
img {
  vertical-align: middle;
}

/* Position the image gallery (needed to position the left and right arrow2s) */
.gallery {
  position: relative;
  display: none;
}

/* Hide the images by default */
.gallerySlides {
  display: none;
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor2 {
  cursor: pointer;
}

/* next2 & prev2ious buttons */
.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next2 button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* gallery for image text */

.row2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.4rem;
  margin-top: 2.4rem;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Six column2s side by side */


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active2, .demo:hover {
  opacity: 1;
}






