@import url(./global.css);

@media only screen and (min-width: 1400px) {
    
    /* GLOBAL */
    h2  {
        font-size: 2.8rem;
    }

    h3  {
        font-size: 2.2rem;
    }

    h4  {
        font-size: 2rem;
    }

    p   {
        font-size: 1.6rem;
    }

    a   {
        font-size: 1.6rem;
    }

    /* BANOS Y COCINAS */
    .ku_content {
        max-width: 1400px;
        margin: 0 auto;
        padding: 3.2rem;
    }

    .line{
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        padding: 3.2rem;
    }

    .intro {
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        align-items: center;
        grid-template-columns: 1.5fr 1fr;
        padding: 3.2rem;
        gap: 1.6rem;
    }

    .intro>div {
        padding-right: 20%;
    }

    .index {
        padding: 6.4rem 3.2rem;
    }
    
    .index>h3,
    .product>h3 {
        max-width: 1400px;
        margin: 0 auto;
        padding-left: 4rem;
    }
    .index_subtitle {
        margin-top: 10rem !important;
    }
    
    .scrolling_container {
        max-width: 1200px;
        padding: 0;
        margin: 3.2rem  auto;
        overflow: hidden;
    }
    
    .index_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 2.4rem;
        width: 100%;
    }
    .index_grid-cocinas {
        grid-template-columns: repeat(3, 1fr);
    } 

    .index_card-provenza {
        grid-column: 1 / span 2;
    }

    .index_card{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1.5fr;
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    .index_card_img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
      }

    .index_card_content {
        padding: 3.2rem;
    }
    
    .product_grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 2.4rem;
        width: 100%;
    }

    .product_card {
        width: 100%;
        height: 200px;
    }

    .product_card_content {
        padding: 3.2rem;
    }

    /* FOOTER */
    .sectionFooter {
        width: 100%;
        background-color: var(--Banos);
    }

    .sectionFooterCocinas {
        width: 100%;
        background-color: var(--Lavaderos);
    }
   
    .footerH4 {
        order: 2;
    }

    .videoInterno {
        margin: 0;
    }

    .footerContainer {
        display: grid;
        max-width: 1400px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.6rem;
        padding: 4rem;
        align-items: baseline;
    }

    .footerLogoContainer {
        order: 3;
        display: flex;
        justify-content: flex-end;
    }

    .footerOtrosSitios {
        order: 1;
        align-items: flex-start;
    }

 }
