@media only screen and (min-width: 640px) {
  
    /* GLOBAL  */
    .p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    }

    /* BANOS Y COCINAS */
    .ku_content {
        padding: 3.2rem;
    }

    .intro {
        grid-template-rows: 1fr;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        padding: 3.2rem;
        gap: 1.6rem;
    }

    .line {
        width: 100%;
        padding: 3.2rem;
    }

    .index,
    .products {
        padding: 3.2rem 0 3.2rem 3.2rem;
    }

    .scrolling_container {
        padding: 3.2rem 0;
        padding-left: 3.2rem;
        margin-left: -3.2rem;
    }

    .index_card {
        width: 256px;
        height: 340px;
    }

    .index_card-last,
    .product_card-last {
        width: 1.6rem;
    }
    
    /* FOOTER */
    footer {
        padding: 3.2rem;
    }

    .footerLogoContainer {
        width: 70%;
        margin: 0 auto 1.6rem auto;
    }


    /* PAGINAS DE PRODUCTO */
    .hero_content {
        padding: 3.2rem;
    }
    .heroText {
        padding: 6.4rem;
    }

    .hero_video-mobile {
        display: none;
    }

    .hero_video-tablet {
        display: flex;
    }

    .hero_vido-desktop {
        display: none;
    }

    .intro_content {
        justify-content: flex-end;
        text-align: end;
    }

    .videoCVArmadoMobile{
        display: flex;
    }

    .videoCVArmadoDesktop{
        display: none;
    }

    .index_card-last {
        width: 1.6rem;
    }
    
    .botonera {
        padding: 6.4rem 1.6rem;
    }

    .products_tour360 {
        padding: 3.2rem;
        background-color: rgba(46, 46, 130, 0.2);
      }
        .ku-embed-product {
          width: 80%;
          height: 50vh;
          margin: 0 auto;
        }

}