/*
CSS will be constructed on Mobile First
1. Posicioning
2. Box Model
3. Tipography
4. Visuals (shadow, etc)
5. Others (transformation, etc)
*/

:root {
    /*COLORES*/
    --Cocinas: #FCF4DD;
    --Lavaderos: #3A849A;
    --Banos: #2E2E82;
    --Gap: 16px;
    --PaddingMobile-12px: 12px;
    --PaddingTablet-48px: 48px;
    --PaddingLaptop-86px: 86px;
    --PaddingDesktop-15: 15%;
    --SpacerMobile-32px: 3.2rem;
    --SpacerLaptop-64px: 6.4rem;
    --Shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);

}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
.mobileTittle {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}
.mobileSubtittle {
    font-size: 1.8rem;
    text-transform: none;
    margin-bottom: 0.8rem;
}

/*HOME PAGE*/

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--PaddingMobile-12px);
}
.heroBackground {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/img/HeroMain.jpg);
    background-size: cover;
    animation: zooming 15000ms ease-in-out;
    animation-fill-mode: forwards;
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
}
@keyframes zooming {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
.heroMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.heroHeader {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%;
    height: 60px;
}
.heroHeader img {
    margin-right: 16px;
    height: inherit;
}
.logoLanzamiento {
    height: inherit;
    padding: 10px 0;
}
.heroCard-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--Gap);
    margin-top: var(--SpacerMobile-32px);
}
.heroCard {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.4rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--Shadow);
}
.banos {
    color: var(--Banos);
}
.cocinas {
    color: var(--Lavaderos);
}
.heroCard h2 {
    font-size: 2.4rem;
    text-transform: uppercase;
}
.heroCard p {
    font-size: 1.6rem;
    width: 70%;
    margin-top: 0.8rem;
}
.arrow-container {
    display: flex;
    justify-content: flex-end;
}
.heroCard span {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem;
    background-image: url(./assets/icons/arrow-diagonal.svg);
}
.line {
    margin: var(--SpacerMobile-32px) 0;
    width: 100%;
    height: 2px;
    background-color: white;
}
.heroFooter {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--Gap);
    color: white;
}
.heroFooter-logos {
    display: flex;
    justify-content: space-between;
}
.heroFooter div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1.6rem;
}
.heroFooter h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0.8rem;
}
.heroFooter a {
    color: white;
    font-size: 1.4rem;
    font-weight: 100;
    text-decoration: none;
}
.heroFooter span {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 6rem;
    height: 3rem;
    background-image: url(./assets/icons/youtube.svg);
}
.heroFooter span.facebook {
    background-image: url(./assets/icons/facebook.svg);
}
.heroFooter span.instagram {
    background-image: url(./assets/icons/instagram.svg);
}
.heroFooter span.pinterest {
    background-image: url(./assets/icons/pinterest.svg);
}

/*PAGE COCINAS*/
.ku-embed {
    width: 100%;
    height: 80vh;
}
section {
    width: 100%;
    padding: 0 var(--PaddingMobile-12px);
    color: var(--Lavaderos);
    font-size: 1.4rem;
    overflow-x: scroll;

}
.section1 div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: var(--Gap);
    margin-top: 1.6rem;
}
.section1 h2 {
    font-size: 2rem;
    color:var(--Lavaderos);    
}
.section1 p {
    justify-self: flex-end;
}
.section2, .section4 {
    width: auto;
    overflow-x: scroll;
}
.section2_cardContainer {
    width: 400vw;
    height: auto;
    display: flex;
    padding: var(--SpacerMobile-32px) 0;
}
.slider {
    display: flex;
    width: 400vw;
}
.cardProduct {
    height: 100%;
    width: 80vw;
    aspect-ratio: 1/1.1;
    margin-right: var(--Gap);
    border-radius: 10px;
    box-shadow: var(--Shadow);
    overflow: hidden;
}
.cardProduct_imageContainer {
    position: relative;
    height: 40%;
    width: 100%;
}
.cardProduct_image {
    height: 100%;
    width: 100%;
    background-image: url(./assets/img/Savona-liquid-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
.cardProduct_image-2 {
    background-image: url(./assets/img/Cocina-provenza-frontal-horno1.png);
    background-position: center ;
}
.cardProduct_image-3 {
    background-image: url(./assets/img/Cocina-provenza-frontal-horno1.png);
    background-position: center ;
}
.cardProduct_image-4 {
    background-image: url(./assets/img/Cocina-provenza-frontal-horno1.png);
    background-position: center ;
}
.cardProduct_image-5 {
    background-image: url(./assets/img/Cocina-provenza-frontal-horno1.png);
    background-position: center ;
}
.rectangle {
    position: absolute;
    bottom: 5%;
    left: -5%;
    width: 70%;
    height: 60%;
    border: solid 2px var(--Lavaderos);
    z-index: -1;
}
.cardProduct_text {
    padding: 1.6rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardProduct_text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.8rem;
}
.cardProduct_text div:last-child {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    width: 100%;
}
.cardProduct_text a {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-image: url(./assets/icons/arrow-diagonal-lavaderos.svg);
    color: black;
}

.sectionHero {
    display: flex;
    align-items: flex-end;
    width: 100%;
    aspect-ratio: 4/3;
    padding: 1.6rem;
    margin: var(--SpacerMobile-32px) 0;
    background-image: url(./assets/img/Cocina1-mobile.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;

}
.sectionHero_H2 {
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    align-self: flex-end;
}
.line2 {
    margin: var(--SpacerMobile-32px) 0;
    width: 100%;
    height: 2px;
    background-color: var(--Lavaderos);
}
.sectionHero_grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: var(--SpacerMobile-32px);
}
.subtittle {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.6rem;

}
.videoInterno {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: violet;
    position: relative;
    margin-top: 1.6rem;
}

.section4 {
    width: 400vw;
    height: auto;
    display: flex;
    padding: var(--SpacerMobile-32px) 0;
}
.cardProduct2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80vw;
    aspect-ratio: 2/1;
    margin-right: var(--Gap);
    border-radius: 10px;
    box-shadow: var(--Shadow);
    overflow: hidden;
}




/*RESPONSIVE*/
/*TABLETS*/
@media only screen and (min-width: 641px) {
    header {
       padding: var(--PaddingTablet-48px) 86px;
    }
    .heroCard {
        height: 220px;
    } 
}
/*LAPTOPS UP TO 1440*/
@media only screen and (min-width: 1008px) {
    header {
       padding: var(--PaddingTablet-48px);
    }
    .heroHeader {
        height: 90px;
    }
    .heroCard-container {
        grid-template-columns: 1fr 1fr;
        margin-top: 6.4rem;
    }
    .heroCard {
        height: 220px;
    } 
    .line {
        margin: 6.4rem 0;
    }
    .heroFooter {
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
    }
    .heroFooter div:last-child {
        margin-top: 0rem;
    }
    .heroFooter-logos {
        order: 1;
        justify-content: flex-end;
    }
}
/*LAPTOPS AND DESKTOPS BIGGER THAN 1440*/
@media only screen and (min-width: 1440px) {
    header {
       padding: var(--PaddingTablet-48px) var(--PaddingDesktop-15);
    }
}