/*
CSS will be constructed on Mobile First
1. Posicioning
2. Box Model
3. Tipography
4. Visuals (shadow, etc)
5. Others (transformation, etc)
*/

:root {
    /*COLORES*/
    --Cocinas: #FCF4DD;
    --Lavaderos: #3A849A;
    --Banos: #2E2E82;
    --Gap: 16px;
    --PaddingMobile-12px: 12px;
    --PaddingTablet-48px: 48px;
    --PaddingLaptop-86px: 86px;
    --PaddingDesktop-15: 15%;
    --SpacerMobile-32px: 3.2rem;
    --SpacerLaptop-64px: 6.4rem;
    --Shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.banos {
    color: var(--Banos);
}
h2 {
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}
h3 {
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: none;
    margin-bottom: 0.8rem;
}
h4 {
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}
p {
    font-size: 1.4rem;
}

/* PAGE BANOS */
.ku-embed { /*IMAGEN 360°*/
    width: 100%;
    height: 70vh;
}
.sectionTour_textContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1.6rem;
}
.sectionTour_textContainer div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.arrowContainer {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.arrowDown-banos {
    width: 2rem;
    height: 3rem;
    background-image: url(./assets/icons/arrow_down_banos.svg);
}
.line {
    background-color: var(--Banos);
    height: .5px;
    margin: 1.6rem;
}
.sectionIndex {
    background-color: #2e2e822a;
    padding: 3.2rem 0;
}
.horizontalScrolling_container {
    width: auto;
    overflow-x: scroll;
    padding: 1.6rem 1.6rem;
}
.sectionIndex>h3 {
    padding-left: 1.6rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.gridIndex {
    display: grid;
    grid-template-columns: repeat(5, 1fr) auto;
    gap: 1.6rem;
    width: auto;
    height: auto;
}
.gridIndex_card, .gridProduct_card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80vw;
    height:auto;
    /* aspect-ratio: 1/1.4; */
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--Shadow);
    overflow: hidden;
}
.gridIndex_card-image, .gridProduct_card-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gridIndex_card-textContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;
}
.gridIndex_card-textContainer div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.arrowDiag-banos {
    width: 3rem;
    height: 3rem;
    background-image: url(./assets/icons/arrow-diagonal.svg);
}

/* SECTION INTRO */
.sectionIntro, .sectionProduct {
    margin-top: 3.2rem;
}
.heroImage {
    width: 100%;
    padding: 1.6rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vw;
    margin-bottom: 1.6rem;
}
.sectionIntro_text {
    padding: 1.6rem 1.6rem 0 1.6rem;
}
.videoInterno {
    margin: 1.6rem 0;
}
.gridIntro {
    display: grid;
    grid-template-columns: repeat(5, 1fr) auto;
    gap: 1.6rem;
    width: auto;
    height: auto;
}
.gridIntro_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    height: calc(80vw / 2);
    /* aspect-ratio: 2/1; */
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--Shadow);
    overflow: hidden;
}
.gridIntro_card-textContainer {
    padding: 1.6rem;
}
.gridIntro_card-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./assets/img/banosIntro1.png);
}
.gridIntro_card-image2 {
    background-image: url(./assets/img/banosIntro2.png);
}
.gridIntro_card-image3 {
    background-image: url(./assets/img/banosIntro3.png);
}

/* SECTION PRODUCT */

.heroImage_sectionProduct {
    position: relative;
    width: 100vw;
    height: auto;
    color: white;
}
.heroImage_sectionProduct div{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 1.6rem;
}
.sectionProduct_text {
    padding: 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
}
.horizontalScrolling {
    padding: 1.6rem 0;
}
.horizontalScrolling>h3 {
    padding-left: 1.6rem;
}
.gridProduct, .gridProduct_detail {
    display: grid;
    grid-template-columns:  repeat(7, 1fr) auto;
    gap: 1.6rem;
    width: auto;
    height: auto;
    margin-bottom: 3.2rem;
}
.gridProduct_card-textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    text-align: center;
}
.gridProduct_card {
    height: calc (80vw * 1.15);
    /* aspect-ratio: 1/1.15; */
}
.gridProduct_card-full {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    /* aspect-ratio: 1/1.15; */
    border-radius: 10px;
    color: white;
    box-shadow: var(--Shadow);
    overflow: hidden;
}
.videoContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translateX(30px);
    width: auto;
    height: 100%;
    z-index: -1;
}
.gridProduct_card-lottie {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 10px;
    color: white;
    box-shadow: var(--Shadow);
    overflow: hidden;
    background-image: url(./assets/img/CascadeVital4.jpg);
    padding: 1.6rem;
}
.gridProduct_card-lottie.plus {
    background-image: url(./assets/img/CascadePlus4.jpg);
}
.gridProduct_card-lottie2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 10px;
    color: var(--Banos);
    box-shadow: var(--Shadow);
    overflow: hidden;
    background-color: white;
}
.lottieContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.gridProduct_card-image4-3 {
    width: 100%;
    height: 100%;
    background-image: url(./assets/img/CascadeVital4-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.gridProduct_card-image5 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/img/CascadeVital5.jpg);
}
.gridProduct_card-image6 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/img/CascadePlus4.jpg);
}
.gridProduct_card-fondo {
    width: 80vw;
    height: calc (80vw * 1.15);
    /* aspect-ratio: 1/1.15; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url(./assets/img/CascadeVital6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: var(--Shadow);
    overflow: hidden;
}
.gridProduct_card-fondo.fondoPlus {
    background-image: url(./assets/img/CascadePlus7.jpg);
}
.rightPadd {
    width: 1px;
    height: 5px;
}
.gridProduct_detail {
    grid-template-columns:  repeat(5, 1fr) auto;
}
.gridProduct_detail-card {
    width: 80vw;
    height: calc (80vw / 2);
    border-radius: 10px;
    overflow: hidden;
}
.imageContainer {
    width: 100%;
}
.imageContainerAbsolute {
    width: 100%;
    z-index: -1;
}