:root {
    /*COLORES*/
    --Cocinas: #FCF4DD;
    --Lavaderos: #3A849A;
    --Banos: #2E2E82;
    --Gap: 16px;
    --PaddingMobile-12px: 12px;
    --PaddingTablet-48px: 48px;
    --PaddingLaptop-86px: 86px;
    --PaddingDesktop-15: 15%;
    --SpacerMobile-32px: 3.2rem;
    --SpacerLaptop-64px: 6.4rem;
    --Shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}

/* SECTION INTRO */
.intro>div {
    margin-top: 1.6rem;
}

/* SECTION PRODUCT */
.product {
    padding: 3.2rem 0;
}
.product_grid {
    grid-template-columns: repeat(7, 1fr) auto;
}
.detailed_grid {
    grid-template-columns: repeat(5, 1fr) auto;
}

.stdCard {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80vw;
    height: calc(80vw*1.1);
    border-radius: 10px;
    box-shadow: var(--Shadow);
    overflow: hidden;
    padding-top: 1.6rem;
}
.ctrCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.6rem;
    width: 80vw;
    height: calc(80vw*1.1);
    border-radius: 10px;
    box-shadow: var(--Shadow);
    overflow: hidden;
}
.stdCard-textContainer {
    text-align: center;
    padding: 1.6rem;
}
.bkgCard {
    position: relative;
    width: 80vw;
    height: calc(80vw*1.1);
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
.bkgCard .stdCard {
    position: absolute;
    background-color: transparent;
    z-index: 2;
}
.lottieContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
}
.detailCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    border-radius: 10px;
    box-shadow: var(--Shadow);
    overflow: hidden;
}

/* MODAL */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }