.section-registro {
    min-height: 568px;
    height: 100vh;
    background-color: gray;
}

.img-container {
    width: 100%;
    height: 100%;
}

.contenido {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    z-index: 2;
    top: 0;
    left: 0;
}

.header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.header img {
    max-height: 100%;
    margin-right: 1rem;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.mensaje {
    margin-bottom: 1rem;
    max-width: 524px;
}

.mensaje h1 {
    margin-bottom: 1rem;
    font-family: 'Brandon Text', brandon-grotesque, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.mensaje p {
    /* margin: 0 1rem; */
    font-family: 'Brandon Text', brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--color-habano);
    text-align: center;
    line-height: 25px;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot p {

    text-align: center;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    aspect-ratio: 2 / 1;
    height: 45px;
    width: 100%;
    margin-top: 1rem;
    min-width: 90px;
    max-width: 268px;
    background-color: var(--color-verde);
    border-radius: 3px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}

.boton:hover {
    text-decoration: none;
    background-color: var(--color-habano);
    color: var(--color-verde);
    font-weight: 500;
}


@media screen and (min-width: 600px) and (max-width: 1199px){

    .contenido {
        padding: 6rem;
    }
    .mensaje h1 {
        margin-bottom: 1rem;
        font-size: 32px;
        font-weight: 400;
    }
    
    .header {
        height: 4.5rem;
        margin-bottom: 2.5rem;
    }
    .middle {
        margin: 4rem 3rem;
    }
}

@media screen and (min-width: 1200px){
    .contenido {
        padding: 6rem 12rem;
    }
    .mensaje h1 {
        margin-bottom: 1rem;
        font-size: 32px;
        font-weight: 400;
    }

    .header {
        justify-content: flex-start;
        height: 4.5rem;
        margin-bottom: 5rem;
    }

    .middle {
        margin: 4rem 3rem;
    }
}