@media only screen and (min-width: 1080px) {
    
    :root {
        --color-fondo: #DEE3E8;
        --azul-profundo: #003865;
        --azul-medio: #005EB8;
        --verde-grival: #008C96;
        --amarillo-grival: #FFD300;
        --blanco: #fff;
    
        -webkit-appearance: none;
    }

    body {
        background-size: 4vw 4vw;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
        line-height: 24px;

    }

    /* HERO SECTION **********************************************************/

    .hero_section {
        padding: 4vw 10vw 4vw 10vw;
    }

     /* INTRO SECTION **********************************************************/

     .intro_section {
        padding: 6vw 10vw 4vw 10vw;
     }

        .intro_text {
            width:80%;
        }

    /* LANZAMIENTOS **********************************************************/

    .lanzamientos {
        padding: 4vw 10vw 4vw 10vw;
    }

    .index_grid {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        width: 80vw;
        gap: 24px
        
    }

    .card_Corona {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        /* max-width: 500px; */
        height: 300px;

    }

    .card_Grival {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 300px;

    }

    .card_Image {
        order: 2;
        object-fit: contain;
        object-position: bottom;
        bottom: 0;
    }

    .card_Content {

        order: 1;
    }

    footer {
        align-items: center;
        justify-content: center;
    }

    .redes {
        width: 100%;
    }





}