html {
    background-color: #F7F7F6;
}

body{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-family: alternate-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    color: #143A5F;
    margin-block-end: 0;
    margin-block-start: 0;
}

h3 {
    font-family: alternate-gothic-atf, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #D60925;
    margin-block-end: 8px;

}

p {
    margin-block-start: 0;
    margin-bottom: 40px;
    font-family: tablet-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #143A5F;

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    gap: 1.6rem;
    padding: 0%;
    margin: 0%;
}

.XR {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr;
    gap: 0px;
    align-items: center;
    justify-items: start;
  }
    .XR_card {
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      max-width: 1000px;
      max-height: 1000px;
      width: 100%;
      height: 100%;

    }
    .XR_card_iframeContainer {
      position: relative; 
      width: 100%; 
      height: auto; 
      padding-bottom: 100%; 
      overflow: hidden; 
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
    }


    