html, body, section, div, p, a, h1, h2, h3, h4, img, form, label, input, lottie-player {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
}

/* Efecto smooth INICIO*/
html{
	scroll-behavior: smooth;
}
/* Efecto smooth FIN*/

:root {
    --color-fondo: #DEE3E8;
    --azul-profundo: #003865;
    --azul-medio: #005EB8;
    --verde-grival: #008C96;
    --amarillo-grival: #FFD300;
    --blanco: #fff;

    -webkit-appearance: none;
}

body {

    padding: 2vw 4vw 0 4vw;
    background-size: 8vw 8vw;
    background-image:
      linear-gradient(to right, rgba(0, 56, 101, 0.08) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 56, 101, 0.08) 1px, transparent 1px),
      linear-gradient(to bottom, #DEE3E8 1px, #DEE3E8 1px);
    background-attachment: fixed;
  }

  h1, h2, h3, h4 {
    font-family: 'Brandon Text', brandon-grotesque, sans-serif;
    text-transform: uppercase;
  }

h1 {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}

h2 {
    
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.15em;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.15em;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

p {
    font-family: 'roboto', roboto, Roboto, sans-serif ;
    color: var(--azul-profundo);
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoCorona {
    width: 137px;
    height: 48px;
}

.logoLanzamiento {
    height: 80px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 9px 8px rgba(0, 0, 0, 0.15));
}

.cardContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.salaCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 16px 24px;

    height: 232px;
    width: 100%;

    border: 2px solid;
    box-sizing: border-box;
    border-radius: 20px;

    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0), 
                0px 2px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 5px 0px rgba(0, 0, 0, 0), 
                     0px 2px 0px rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transition: all 0.5s;

}
    .salaCard:hover {
        box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25), 
                    0px 2px 2px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25), 
                         0px 2px 2px rgba(0, 0, 0, 0.35);
    }

    #residencial {
        color: var(--verde-grival);
        border: 2px solid var(--verde-grival);
        background: url(assets/fondoResidencialS.png), 
                    rgba(255, 255, 255, 0.35);
        background-position: 0;
        background-size: cover;
    }

    #institucional {
        color: var(--azul-profundo);
        border: 2px solid var(--azul-profundo);
        background: url(assets/fondoInstitucionalS.png), 
                    rgba(255, 255, 255, 0.35);
        background-position: 0;
        background-size: cover;
    }

    .salaCard_Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .title {
        gap: 0;
    }

    .flecha {
        width: 36px;
        height: 36px;
    }

    .para {
        width: 45%; 
        color: white;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

     .links a {
         font-family: 'roboto';
         font-size: 14px;
         color: #003865;
     }

     .footer{
         display: flex;
         flex-direction: row;
     }
    
     .footer-logos {
         display: flex;
         flex-direction: row;
         width: 50%;
         align-items: flex-start;
         justify-content: end;
     }

     .youtube {
        background-image: url(assets/youtube.svg);
        display: block;
        width: 50px;
        height: 50px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .facebook {
        background-image: url(assets/facebook.svg);
        display: block;
        width: 50px;
        height: 50px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .instagram {
        background-image: url(assets/instagram.svg);
        display: block;
        width: 50px;
        height: 50px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .pinterest {
        background-image: url(assets/pinterest.svg);display: block;
        width: 50px;
        height: 50px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

/*---------------------------------- TABLET--------------------------------------------------------------------------------------- */
/*---------------------------------- A partir de acá------------------------------------------------------------------------------ */
    
@media only screen and (min-width: 744px) {
   
    body {
        padding: 4vw 8vw 0 8vw;
        background-size: 4vw 4vw;
    }

    
    h2 {
        font-size: 48px;
        line-height: 48px;
        display: block
    }

    h3 {
        font-size: 40px;
        line-height: 40px;
        display: block;

    }

    p {
        font-size: 24px;
        line-height: 28px;
    }

    .title {
        display: inline-block;
        height: 20px;
        gap: 8px;
    }

    .salaCard_Header {
        height: 30%;
    }

    .salaCard {
        height: 416px;
        padding: 5% 32px 10% 32px;
        
    }
    
    #residencial {
        background-position: 0%;
        border: 4px solid var(--verde-grival);
    }

    #institucional {
        background-position: 0%;
        border: 4px solid var(--azul-profundo);
    }

    .flecha {
        height: 48px;
        width: 48px;
    }

}





/*---------------------------------- DESKTOP--------------------------------------------------------------------------------------- */
/*---------------------------------- A partir de acá------------------------------------------------------------------------------ */
    
@media only screen and (min-width: 1080px) {
   
    body {
        padding: 4vw 4vw 0 4vw;
        justify-content: space-between;
    }

    
    h2 {
        font-size: 48px;
        line-height: 48px;
        display: block
    }

    h3 {
        font-size: 40px;
        line-height: 40px;
        display: block;

    }

    p {
        font-size: 20px;
        line-height: 22px;
    }


    .cardContainer {
        flex-direction: row;
    }
    
    .title {
        gap: 16px;
    }
    
    .salaCard {
        padding: 5% 40px 15% 40px;
    }

    #residencial {
        border: 4px solid var(--verde-grival);
        background-position: 0%;
    }

    #institucional {
        background-position: 0%;
        border: 4px solid var(--azul-profundo);
    }

    .para {
        width: 40%;
    }
}