@media only screen and (min-width: 1080px) {

    body {
        background-size: 4vw 4vw;
    }

    h2 {
        font-size: 32px;
        line-height: 38px;
        margin-top: 8px;
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
    }

    h4 {
        font-size: 24px;
    }

    /* h5 {
        font-size: 24px;
        line-height: 28px;
    } */

    p {
        font-size: 18px;
        line-height: 24px;

    }


    .arrowBackL {
        width: 80px;
        height: 80px;
        object-position: center;
    }

    .intro_section h4{
        font-size: 24px !important;
     }

    .intro_text p {
        font-size: 18px !important;
        line-height: 24px;
    }

    /* PRODUCTOS SECTION *****************************************/
    
    .section_productos {
        padding-top: 3vw;
        gap: 24px;
    }
    
    .index_grid {
        grid-template-columns: repeat(3, 1fr);
        width: 90vw;
    }

    .scrolling_cointainer {
        overflow-x: scroll;
    }
    
    .card_Product {
        grid-template-rows: 60% 60%;
        width: 100%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 
                    0px 2px px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2), 
                        0px 2px 2px rgba(0, 0, 0, 0.2);
    }

        .card_Content {
            padding: 16px 16px;
            
        }

        .card_Image {
            object-fit: cover;
            object-position: center;
        }
        

        #sahara {
            border: 3px solid #D2C6A3;
        }

        #titanio {
            border: 3px solid #B8BABA;

        }

        #black {
            border: 3px solid #666;
        }
 
 
        /* ATRIBUTOS SECTION *****************************************/
    .section_atributos {
        padding-top: 3vw;
        gap: 24px;
    }

        .atributos_grid {
            width: 90vw;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
        }

        .card_Atributo {
            width: 100%;
            height: 400px;
            max-height: 600px;
            border: 3px solid var(--azul-medio)
        }

        /* .card_Atributo h5 {
            font-size: 24px;
            line-height: 28px;
        }

        .card_Atributo p {
            font-size: 24px !important;
            line-height: 30px;
        } */

        .card_Content-Atributo {
            padding-left: 40px;
            padding-right: 40px;
        }

         /* IMAGENES SECTION *****************************************/

        .section_imagenes{
            gap: 24px;
        }

        .scrolling_container-detailCard{
            display: none;
        }
        
         .detailCard {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(80vw + 16px);
            height: auto;
            border-radius: 10px;
            box-shadow: var(--Shadow);
            overflow: hidden;
        }
    
        .productsGallery {
            width: 90vw;
            margin: 0 auto;
            margin-bottom: 3.2rem;
            padding: 3.2rem;
            background-color: rgba(255, 255, 255, 0.25);

            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);

            border-radius: 10px;
            border: 3px solid var(--azul-profundo);
        }
        .gallery {
            padding: 0;
            position: relative;
            display: block;
        }
    
        .gallerySlides {
            display: block;
            border-radius: 10px;
            overflow: hidden;
        }
    
        .imageGallery {
            border-radius: 10px;
            overflow: hidden;
        }

    
    /* BOTONERA SECTION *****************************************/

    .botonera{
        display: flex;
        width: 100%;
    }

        .botonera  a{
            font-size: 20px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-weight: 600;
        }

        .botonera :first-child {
            height: 64px !important;
        }

        .botonera div {
            height: 64px;
            
        }

        .arrowLeft {
            width: 32px;
            height: 32px;
        }

        .botonNext {
            width: 32px;
            height: 32px;

        }

    
    
}
